html, body {
    padding: 0;
    margin: 0;
}
body {
    box-sizing: border-box;
    font-family: 'Lato', sans-serif;
    font-size: 100%;
    background-color: #578EBA;
    color: white;
    min-height: 100vh;
}
*, *:before, *:after {
    box-sizing: inherit;
}
h1, h2, h3 {
    margin: 0;
    padding: 0;
}
a {
    text-decoration: none;
    display: block;
}
.vcard {
    min-height: 660px;
    max-width: 550px;
    padding: 0;
    margin: 0 auto;
    background-color: white;
}
header {
    height: 34vh;
    box-sizing: border-box;
    border-bottom: 1px solid white;
    position: relative;
    background-color: #22425C;
}
.avatar {
    padding: 4vh 0 0;
    text-align: center;
}
.avatar span {
    border-radius: 9vh;
    margin: auto;
    width: 16vh;
    height: 16vh;
    background-size: cover;
    display: block;
    background-repeat: no-repeat;
    background-position: center -10px;
}
.avatar span.benjamin {
    background-image: url('../static/portrait/benjamin-longearet.jpg');
}
.avatar span.fabien {
    background-image: url('../static/portrait/fabien-livet.jpg');
}
.avatar span.frederick {
    background-image: url('../static/portrait/frederick-marchal.jpg');
    background-position: center center;
}
h1 {
    text-align: center;
    padding-top: .8vh;
    height: 8vh;
    line-height: 8vh;
    font-size: 1.7em;
    font-weight: 200;
}
header h2 {
    text-align: center;
    height: 2vh;
    line-height: 2vh;
    font-size: .9em;
    font-weight: 200;
}
nav {
    box-sizing: border-box;
    height: 10vh;
    background-color: #22425C;
    border-bottom: 1px solid white;
}
nav a {
    float: left;
    box-sizing: border-box;
    padding: 2vh 0;
    width: 50%;
}
nav a:first-child {
    border-right: 1px solid white;
}
nav a h2 {
    text-align: center;
    line-height: 2vh;
    height: 2vh;
    font-size: 0.7em;
    font-weight: 300;
    text-transform: uppercase;
    color: white;
}
nav a span {
    display: block;
    margin: 0 auto 1vh;
    width: 3vh;
    height: 3vh;
    background-size: cover;
}
nav a span.phone {
    background-image: url('../static/icons/icon-call.png');
}
nav a span.email {
    background-image: url('../static/icons/icon-send.png');
}
section {
    height: 56vh;
    background-color: white;
}
section .item {
    clear: both;
    height: 14vh;
    text-decoration: none;
}
section .item .icon {
    box-sizing: border-box;
    float: left;
    width: 36%;
    padding: 4vh 0;
    position: relative;
}
section .item img {
    display: block;
    margin: auto;
    height: 6vh;
    width: 6vh;
}
section .item .info {
    float: left;
    width: 55%;
    box-sizing: border-box;
    padding: 4vh 0 4vh;
    border-bottom: 1px solid #22425C;
}
section .item:last-child .info {
    border-bottom: 0;
}
section .item .info h2 {
    vertical-align: bottom;
    height: 3.5vh;
    font-size: 1.1em;
    color: #22425C;
}
section .item .info h3 {
    vertical-align: top;
    height: 2.5vh;
    font-size: 1em;
    font-weight: 300;
    color: #7F7F7F;
}

@media all and (orientation:landscape) {
    header {
        height: 240px;
    }
    header .avatar {
        padding: 30px 0 0;
    }
    header .avatar span {
        border-radius: 60px;
        width: 120px;
        height: 120px;
    }
    header h1 {
        height: 45px;
        line-height: 45px;
        padding-top: 10px;
    }
    header h2 {
        height: 30px;
        line-height: 30px;
    }
    nav {
        height: 60px;
    }
    nav a {
        padding: 10px 0;
    }
    nav a span {
        margin-bottom: 8px;
        width: 20px;
        height: 20px;
    }
    nav a span h2 {
        height: 12px;
        line-height: 12px;
    }
    section {
        height: 360px;
    }
    section .item {
        height: 90px;
    }
    section .item .icon {
        padding: 25px 0;
    }
    section .item .icon img {
        height: 40px;
    }
    section .item .info {
        padding: 25px 0;
    }
    section .item .info h2 {
        height: 25px;
    }
    section .item .info h3 {
        height: 15px;
    }
}